<div class="w-[375px]"
  data-controller='visitor'
  data-image-id="<%= @image.id %>"
>
  <h1 class="mr-auto ml-auto text-center text-red-400 font-bold text-2xl max-w-[350px] break-words">Title: <%= @image.title %></h1>
  <h2 class='text-center my-2 text-xs text-gray-400'>Uploaded Time: <%= @image.created_at.strftime("%d-%b-%y %H:%M:%S") %></h2>
  <hr>
  <div class="flex my-2 text-xs text-gray-400">
    <% if @previous_image %>
      <a id='previous' class='cursor-pointer mr-auto' href="<%= image_path(@previous_image) %>">
        Previous
      </a>
    <% end %>
    <% if @next_image %>
      <a id='next' class='cursor-pointer ml-auto' href="<%= image_path(@next_image) %>">
          Next
      </a>
    <% end %>
  </div>

  <img class="my-6 ml-auto mr-auto" src="<%= @image.attachment_url %>" alt="<%= @image.title %>">
  <p data-visitor-target="msg" class='invisible text-center'><%= @user_count_msg %></p>
</div>