<%= turbo_stream_from :images %>
<% if !flash[:alert].blank? %>
  <div id='notice' class='text-sm text-red-600'>
      <%= flash[:alert] %>
  </div>
<% end %>
<div
  data-controller='visitor'
  data-image-id="<%= @image.id %>"
>
  <h1 class='viewer-title text-l'> Medical Image Viewer <span >- Connected Users - Redis: <span data-visitor-target="count"><%= @user_count %></span> <%= render @image %> </span> </h1>
  <p class='text-xs text-gray-400'>Uploaded at: <%= @image.created_at.strftime("%d-%b-%y %H:%M:%S") %></p>
<div class='image-viewer flex my-4 gap-4 flex-flow-wrap'>
    <div class='flex flex-col h-[350px]'>
      <img class="ml-auto mr-auto w-[300px]" src="<%= @image.attachment_url %>" alt="<%= @image.title %>">
      <div class="flex my-2 text-2xl text-gray-400 h-[16px]" id='img-nav' data-visitor-target="nav">
        <% if @previous_image %>
          <a id='previous' class='cursor-pointer mr-auto' href="<%= image_path(@previous_image) %>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 8H11V5a1 1 0 0 0-1.707-.707l-7 7a1 1 0 0 0 0 1.414l7 7A1 1 0 0 0 11 19v-3h10a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z" style="fill:#ccc" data-name="Left"/></svg>
            <span>Prev</span>
          </a>
        <% end %>
        <% if @next_image %>
          <a id='next' class='cursor-pointer ml-auto' href="<%= image_path(@next_image) %>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m21.707 11.293-7-7A1 1 0 0 0 13 5v3H3a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h10v3a1 1 0 0 0 1.707.707l7-7a1 1 0 0 0 0-1.414z" style="fill:#ccc" data-name="Right"/></svg>
              <span>Next</span>
          </a>
        <% end %>
      </div>
    </div>
    <div class='flex flex-col'>
      <h1 class="text-red-400 font-bold text-2xl max-w-[350px] mb-4">Title: <%= @image.title %></h1>
      <p class="max-w-[250px]"><%= @image.description %></p>
    </div>
  </div>
</div>


<script>
  window.addEventListener('beforeunload', handleBeforeUnload);
  window.addEventListener('turbo:before-cache', handleBeforeCache);

  function handleBeforeCache() {
    window.removeEventListener('turbo:before-cache', handleBeforeCache);
    const csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
    fetch('/images/<%= @image.id %>/decrement_views', {
      method: 'PATCH',
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
        "X-CSRF-Token": csrfToken
      },
    })
  }
  function handleBeforeUnload() {
    window.removeEventListener('turbo:before-cache', handleBeforeUnload);
    const csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
    fetch('/images/<%= @image.id %>/decrement_views', {
      method: 'PATCH',
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
        "X-CSRF-Token": csrfToken
      },
    })
  }
</script>