<!DOCTYPE html>
<html>
  <head>
    <title>MedicalImageViewer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", rel: "preload", as: "style", onload: "this.onload=null;this.rel='stylesheet'" %>

    <%= stylesheet_link_tag "application" %>
    <%= turbo_stream_from :images %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="w-100">
     <%= render 'layouts/header' %>
    <main class="container w-[80vw] mx-auto mt-6 flex flex-col items-center">
      <%= yield %>
    </main>
  </body>
</html>
